.checkout {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  border-color: white;
  height: max-content;
  background-color: white;
}
.checkout-title {
  margin-right: 10px;

  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout-desc {
  font-weight: 500;
}
.checkout-right {
  padding-right: 40px;
}
.checkout-left {
  padding-left: 20px;
}
.checkout-title {
  font-size: 17px;
  font-weight: 600;
}
