.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #132119;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-logo {
  width: 120px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 13px;
}
.header-searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header-search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.input-searchIn {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header-nav {
  display: flex;
  justify-content: space-evenly;
}
.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header-optionLine1 {
  font-size: 10px;
}
.header-optionLine2 {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 800;
}
.header-basket {
  display: flex;
  align-items: center;
  color: white;
}
.basket-count {
  margin-bottom: 15px;
  margin-right: 13px;
  color: red;
}
