.registration-logo {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 110px;
  height: 33px;
  margin-right: auto;
  margin-right: auto;
  /* object-fit: contain; */
}
.regiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.registration-container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 20px;
}
.registration-container h2 {
  font-weight: 450;
  margin-bottom: 20px;
  font-size: 28px;
}
.registration-container form h5 {
  margin-bottom: 5px;
}
.registration-container form input {
  border-radius: 3px;
  height: 25px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  width: 98%;
}
.createac-button {
  background: #f0c14b;
  border-radius: 3px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}
.createac-button:hover {
  background: #e3b747;
}
